<!doctype html>
<html ng-app='myReport'>
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container" ng-controller="mainController">
        <div class="row">
            <h1 style="color:#428bca">{{ selectedKeys[0] }}</h1>
            <h2 style="color:#d9534f" ng-show = "hasError.status">{{hasError.message}}</h2>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                        {{selectedKeys[0]}}
                        <span class="caret"></span>
                    </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li role="presentation" ng-repeat="(key, value) in apis">
                                <a role="menuitem" tabindex ="-1" ng-click="reportTitleSelected(key)" >{{key}}</a> 
                            </li>
                        </ul>
                    <div class="pull-right">
                        <div class="input-group">
                            <input type="text" class="form-control" 
                            placeholder="Search for..." ng-model="searchText">
                        </div>
                    </div>
                </div> 

        <hr>
        <!--<div style="display:flex;  justify-content:space-between;">-->
        <div>
            <div class="dropdown col-lg-3 ">
            <button class="btn btn-default dropdown-toggle capitalize glyphicon glyphicon-filter" 
                type="button" 
                data-toggle="dropdown">
            </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li class = "capitalize" role="presentation" 
                        ng-repeat="(key, value) in data.items[0]">
                        <a role = "menuitem" tabindex="-1" ng-click="columnSelected(key)">
                            {{key | noUnderscore}}
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="dropdown col-lg-3">
                <button class="btn btn-default dropdown-toggle capitalize" 
                    type="button" 
                    data-toggle="dropdown"> logic
                    <span class="caret"></span>
                </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li class = "capitalize" role="presentation" 
                            ng-repeat="(key, value) in logics">
                            <a role = "menuitem" tabindex="-1" ng-click="logicSelected(key)">{{key}}</a>
                        </li>
                    </ul>
            </div>
          
             <div class="form-group col-lg-1">
                <input type="text" class="form-control" ng-model="defaultValue">
            </div>
            <br ><br >
            <!--<from  style="display:flex;  justify-content:space-between;">
                <div class="capitalize form-group ">
                    {{ selectedKeys[1] | noUnderscore }}
                </div>
                <div class="capitalize form-group ">
                    {{selectedKeys[2]}} 
                </div>
                <div class="capitalize form-group">
                    {{defaultValue}} 
                </div>
            </from>-->
             <div  class="panel panel-info col-lg-7">
                <div class="panel-body"  id = "filterDisplay">
                    <div class ="capitalize" style="color: #4285F4">{{ selectedKeys[1] | noUnderscore }}</div>
                    <div style="color: #CC0000">{{selectedKeys[2]}}</div>
                    <div style="color: #007E33">{{defaultValue}} </div>
                </div>
            </div>
        </div>
              
        <button id="download" class="btn btn-success pull-right" 
                    export-to-csv>Download <span class="glyphicon glyphicon-download-alt"></span>
        </button>
         <table class="table table-striped table-bordered table-hover table-responsive" cellspacing="0"
         width="100%" ng-hide ="hasError.status" >
                <thead align="center">
                    <tr>
                        <th class="capitalize" ng-repeat="(key, value) in data.items[0]" 
                        ng-click = "sortData(key)"> {{key | noUnderscore}}
                        <span ng-class = "getSortClass(key)"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
               
                <tr dir-paginate ="data in data.items | orderBy: selectedKeys[1]: reverseSort |itemsPerPage:pageSize|filter: searchText ">
                        <td ng-repeat="(key, value) in data " >{{value | roundedData}}</td>          
                </tr>
                </tbody>
            </table>
            <form class="form-inline">
                    <div class="pull-right form-group form-inline" style ="margin-top:-20px;">
                        <dir-pagination-controls
                            max-size = "10"
                            direction-links = "true"
                            boundary-links = "true">
                        </dir-pagination-controls>
                    </div>
                    <h4><label for="itemPerPage" class="pull-left label label-primary control-label">items/page:</label></h4>
                    <div class="col-xs-1 pull-left form-group">
                        <input type="number" 
                        class="input-mini"  
                        min="1" max="100" 
                        class="form-control" 
                        name="itemPerPage" 
                        ng-model="pageSize"
                        style="width: 50px; border-radius: 0.25em;">
                    </div>
            </form> 
        </div>
    </div>
<script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js"></script>
<script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script  type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="javascript/resource/dirPagination.js"></script>
<script type="text/javascript" src= "javascript/resource/api.js"></script>
<script type="text/javascript" src= "javascript/resource/logic.js"></script>
<script type="text/javascript" src="main.js"></script>
<script type="text/javascript" src="javascript/controller/mainCtr.js"></script>
<script type="text/javascript" src= "javascript/filter/filter.js"></script>
<script type="text/javascript" src="javascript/directive/exportCSV.js"></script>
</body>
</html>


